{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

    <form action="" method=post class="form-horizontal">
        <h4>Generate New Api Key</h4>

        <input type="text" id="name" name="name" class="input-large"
        placeholder="Key name" value="{{ request.form.name }}"
        required>

        <input type="text" id="host" name="host" class="input-xlarge"
        placeholder="Allowed Host" value="{{ request.form.host }}">

        <button type="submit" class="btn btn-success">Generate key</button>
    </form>

    <h2>All API Keys</h2>
    <table id="apikey-list" class="table-list display table-hover table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Key</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {%- for key in apikeys %}
            <tr>
                <td>{{ key.name }}</td>
                <td>{{ key.key }}</td>
                <td>{{ key.date_added.strftime('%Y-%m-%d %H:%M') }}</td>
                <td><a href="/apikey/delete/{{ key.id }}">Delete</a></td>
            </tr>
            {%- endfor %}
        </tbody>
    </table>

</div>
{% endblock %}
