{% extends "layout.html" %}
{% block body %}
<div id="main" class="">

    <form  action="" method="post" id="add-apikey" class="form-horizontal">
        <h4>Generate New Api Key</h4>

        <input type="text" id="name" name="name" class="input-large"
        placeholder="Key name" value="{{ request.form.name }}"
        required>

        <select id="organization" class="select-organization" name="organization">
            {%- for organization in current_user.organizations %}
            <option value="{{ organization.id }}">{{ organization.name }}</option>
            {%- endfor %}
        </select>

        <button type="submit" class="btn btn-success">Generate key</button>
    </form>


    <h2>All API Keys</h2>

    <input class="search" type="search" data-column="all">
    <button type="button" class="reset">Reset Search</button>
    <table id="tbl-manage-apikeys" class="tablesorter-bootstrap tablesorter table table-bordered table-hover table-striped" role="grid">
        <thead>
            <tr>
                <th>Organization</th>
                <th>Name</th>
                <th>Key</th>
                <th class="timestamp">Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
{% endblock %}
