{% extends "layout.html" %}
{% block body %}
<div id="main" class="container">

    <form action="" method="post" id="add-group" class="form-horizontal">
        <h4>Add new group</h4>

        <input type="text" id="name" name="name" class="input-large"
        placeholder="Name the group" value="{{ request.form.name }}"
        required>

        <button type="submit" class="btn btn-success">Add Group</button>
    </form>

    <h2>All Groups</h2>
    <table id="tbl-manage-groups" class="display table-hover table-striped">
        <thead>
            <tr>
                <th>id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>

</div>
{% endblock %}
